@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Sorts+Mill+Goudy&display=swap");
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

//Colors
$white: #fff;
$teal: #006f7e;
$teal-hover: #005d69;
$antracite: #232C2E;
$gray1: #929292;
$gray2: #F1F1F1;
$border: #9292925e;

//Typography
$montserrat-font: 'Montserrat',
  sans-serif;
$sortsmill-font: 'Sorts Mill Goudy',
  serif;
$icon-font: 'Material Icons';
$icon-arrow-right: 'chevron_right';
$icon-arrow-left: 'chevron_left';
$h2-other: 2.75rem;
$h2: 2.125rem;
$h3: 1.25rem;
$font-m: 1rem;
$font-s: 0.875rem;
$font-xs: 0.75rem;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;

//language
.chosen-lang {
  font-weight: 600;
}

html body {
  color: $antracite;
  font-family: $montserrat-font  !important;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  main.body-container {
    margin: 0 auto;
  }
}

//flexbox
@mixin flex-box($main, $crossed, $wrap) {
  display: flex;
  justify-content: $main;
  align-items: $crossed;
  flex-wrap: $wrap;
}

//buttons
@mixin button($light-theme: true) {
  cursor: pointer;
  padding: .5rem 1.2rem;
  font-weight: 500;
  border-radius: 9999px;
  font-size: $font-m;

  @if $light-theme {
    color: $teal;
    background-color: $gray2;
  }

  @else {
    color: $white;
    background-color: $teal;
  }
}

//grid
@mixin grid-column($columns) {
  display: grid;
  grid-template-columns: $columns;
}

//Font sizes and weight
@mixin navBtn($color) {
  font-size: 1rem;
  font-weight: 500;
  line-height: .8;
  color: $color;
}

.font-body {
  font-weight: $weight-400;
  font-size: $font-m;
  line-height: 1.6rem;
}

.font-mentions {
  font-size: $font-s;
  font-weight: $weight-500;
  line-height: 1rem;
}

.h2-other {
  font-family: $sortsmill-font;
  font-size: $h2-other;
  line-height: 2.5rem;
}

.h3 {
  font-weight: $weight-600;
  font-size: $h3;
  line-height: 1.56rem;
}

.h2 {
  font-weight: $weight-500;
  font-size: $h2;
  line-height: 2.75rem;
}

.h1 {
  font-family: $sortsmill-font;
  font-size: 4.6rem;
  line-height: 3.8rem;
  color: $teal;
}

// hamburguer menu
.menu-icon {
  width: 25px;
  height: 30px;
  margin: 10px 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;

  span {
    background-color: $gray1;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    transition-duration: 500ms;

    &:nth-child(1) {
      width: 100%;
      height: 4px;
      display: block;
      top: 0px;
      left: 0px;
    }

    &:nth-child(2) {
      width: 100%;
      height: 4px;
      display: block;
      top: 10px;
      left: 0px;
    }

    &:nth-child(3) {
      width: 100%;
      height: 4px;
      display: block;
      bottom: 6px;
      left: 0px;
    }
  }

  &:not(.open):hover span:nth-child(1) {
    width: 100%;
    height: 4px;
    display: block;
    top: 0px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }

  &:not(.open):hover span:nth-child(2) {
    width: 100%;
    height: 4px;
    display: block;
    top: 10px;
    left: 0px;
    transition: .4s cubic-bezier(.8, .5, .2, 1.4);
  }

  &:not(.open):hover span:nth-child(3) {
    width: 100%;
    height: 4px;
    display: block;
    bottom: 6px;
    left: 0px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  }

  &.open span:nth-child(1) {
    transform: rotate(45deg);
    top: 13px;
  }

  &.open span:nth-child(2) {
    opacity: 0;
  }

  &.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 13px;
  }
}

//cross icon
.cross {
  width: 20%;
  height: 20%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);

  span {
    background-color: $white;
    position: absolute;
    border-radius: 20px;
    display: block;

    &:nth-child(1) {
      width: 100%;
      height: 8%;
      top: 50%;
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    &:nth-child(2) {
      width: 8%;
      height: 100%;
      left: 50%;
      -moz-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
    }
  }

  &-hover {
    >div .cross {
      display: none;
    }

    >div:hover,
    div:active {
      position: relative;

      img {
        filter: brightness(30%)
      }

      div {
        display: block;
        @extend .cross;
      }
    }
  }
}

//fade animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

//close icon
@mixin close($width, $height) {
  width: $width;
  height: $height;
  position: absolute;
  cursor: pointer;

  &:hover,
  &:focus {
    span {
      background-color: $teal;
    }
  }

  span {
    background-color: $antracite;
    position: absolute;
    border-radius: 20px;
    top: 13px;
    width: 100%;
    height: 3px;
    display: block;
    left: 0px;

    &:nth-child(1) {
      transform: rotate(45deg);
    }

    &:nth-child(2) {
      transform: rotate(-45deg);
    }
  }
}

//card text sizes
.card {
  h3 {
    @extend .h3;
  }

  h2 {
    @extend .h2;
  }

  .body-text {
    @extend .font-body;
  }

  >p {
    @extend .font-mentions;
  }

  >div {
    @extend .listSquare;
  }
}

//dark pag
#overlay {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 50;
}

//make the images as squares
.square {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  overflow: hidden;

  img {
    position: absolute;
  }
}

//make the images as squares
.listSquare {
  position: relative;

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.listSquare::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.link:hover {
  text-decoration: underline;
}

.strongLink:hover {
  font-weight: 600;
}


@mixin btn-dropdown($mobile: true) {
  @if $mobile {
    .menu-btns {
      text-align: center;
      position: relative;
      cursor: pointer;
      padding: 2.2rem 0 3.5rem;
      display: inline-block;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;

      &:hover ul.dropdown {
        display: block;
      }

      //dropdown menu centered
      .dropdown {
        border-radius: 1rem;
        position: absolute;
        background-color: $gray2;
        min-width: 17.5rem;
        z-index: 100;
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;

        li:not(.active) {
          display: none;
          color: $teal;
          padding: .8rem 1.5rem;
        }

        .btn {
          @include flex-box(center, center, nowrap);
        }

        i {
          display: none;
          padding-left: 1rem;
        }

        .active {
          @include button($light-theme: false);

          &:active {
            background-color: $teal-hover;
          }

          i {
            display: block;
            padding-left: 1rem;
          }
        }
      }
    }
  }

  @else {
    @include flex-box(space-evenly, center, wrap);
    padding: 3.5rem 0 6.5rem;
    gap: 2rem 1.2rem;
    align-items: stretch;

    i {
      display: none;
    }

    .btn {
      text-align: center;
      line-height: 1;
      @include button($light-theme: true);

      &:hover,
      &.active {
        @include button($light-theme: false);
      }
    }
  }

}