
@media only screen and (min-width: 576px) {
  body {
    .body-container {
     overflow-x: hidden;
     padding: 6rem 0 8rem 100px;
     max-width: 1800px;
      }
  }

  .menu-footer{
    display: none;
  }
  
  footer {
    padding: 2.6rem 100px;
    .logo {
      width: 253px;
    }
    .container{
      &-footer{
        @include grid-column(2fr 4fr);  
        gap: 1.5rem;
      }
      &-pags{
        @include grid-column(repeat(4, 1fr));  
        gap: 1.5rem;
        li {
          padding-top: 8px;
        }
      }
    }
    .footer-logo {
      @include flex-box(space-between, flex-start, nowrap);
      flex-direction: column;  
      div {
        p {
          font-size: $font-xs;
          padding-right: .5rem;
        }
        span i {
          font-size: 1.75rem;
        }
      }
    }
  }
  
  .menu-icon{
    display: none;
  }

  .header{
    &-menu {
      top: 0;
      z-index: 10;
      position: fixed;
      width: 100%;
      background-color: $white;
      i:not(:last-child) {
        display: none;
      }
    }
    &-container {
      gap: 3rem;        
      margin: 0 100px;
      height:5.25rem;
      @include flex-box(space-around, center, nowrap);   
    }
    &-language{
      @include flex-box(space-around, center, nowrap);    
      color: $gray1;
      > div {
        @include flex-box(space-around, center, nowrap);    
      } 
    }
  }
  
  .nav {
    &-top {
      width: 253.5px;
    }
    &-drill {
      width: 100%;
      > ul {      
        @include flex-box(space-between, center, nowrap);
      }
      a:hover {
        color: $teal;
      }
      .menu-language {
        color: $gray1;
        i{
          font-size: $font-m;  
          padding-right: 1.5rem;
        }
        div {
          font-size: $font-xs;  
          font-weight: $weight-400;
        }
      }
      .img-menu{
        width: 18.75rem;
        div p {
          padding-top: .5rem;
        }
      }
    }
    
    &-link {
      display: block;
      @include navBtn($antracite);
    }
    &-container {  
      padding: 0 100px 3.5rem;
      @include flex-box(space-around, flex-start, nowrap); 
      position: fixed;
      top: 84px;
      left: 0;
      width: 100%;         
      background-color: $white;  
      display: none; 
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;    
      li {
        flex: 1 1 0px;
      }      
    }
    &-expand.active .nav-container{
      display: flex;
      transform: translateY(0);
      pointer-events: auto;
      gap: 1.5rem;
    }
    &-expand {  
      &-content {
        .nav-back {
          display: none;
        }
        .nav-expand > a {
          padding-bottom: 1rem;
        }
      }          
      .nav-expand-content {
        .nav-link {
          font-weight: 500;
          line-height: 1rem;
          
        }
        .nav-expand-content {
          .nav-link {
            font-weight: 400;
            line-height: 1rem;
            padding-bottom: 1rem;
            &:hover{
              color: $teal;
              font-weight: $weight-500;
            }
          }				
        }
      }
    }
  }

  //latestWorksSlide {
  .slider {
    position: static;
    left: 10%;
    top: 30%;
    margin-top: 10rem;
      &-content {
        @include grid-column(1fr 6fr);
        gap: 2.6rem;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 180%;
        pointer-events: none;
        transition: 0s ease-in;
        overflow: visible;
      }
      &-title {
        .title{
          padding-bottom: 1rem;
        }
      }
      &-arts {
        @include grid-column(repeat(5, 1fr));
        gap: 3.8rem;
      }    
    }

    //home
  .home{
    @include grid-column(1fr 1fr); 
    justify-items: end;
    gap: 4.5rem;
    margin-top: 2rem;
    &-message{
      @include flex-box(center, flex-start, nowrap);
      flex-direction: column;
      h1{
        font-family: $sortsmill-font;
        font-size: 6.25rem;
        line-height: .7;
        padding-bottom: 2rem;
      }
      p {
        font-weight: 300;
        font-size: $h3;
        line-height: 1.6rem;      
      }
    }
    &-slider {
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;
      
    &-details {
      color: $white;
      position: absolute;
      bottom: 2.5rem;
      left: 2.5rem;
      width: 100%;
      }
    }
    &-slides {
      //width: 400%;
      display: flex;
      input {
        display: none;
      }
    } 
    &-slide {
      display: none;
      img {
        width: 100%;
      }
    }
  }

  //img-header-navigation
  .navigation {
    &-manual{
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 1.5rem;
      top: 45%;
    }
    &-manual-btn {
      transition: background-color 0.6s ease;
      border: 2px solid $white;
      padding: 5px;
      border-radius: 10px;
    }
    &-manual-btn{
      cursor: pointer;
      &:hover{
        background: $white;
      }
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }

  .active {
    background-color: $white;
  }

  //actualites home
  .news {
    margin: 8.3rem 6.25rem 0 0;
    @include grid-column(1fr 2fr);
    column-gap: 5.6rem;
    &-title {
      h4 {
        @include navBtn($teal);
      }
      a{
        display: none;
      }
    }
    &-img {
      grid-column: 2;
      grid-row: 1/4;
    }
    &-presentation {
      h4, a {
        @include navBtn($teal);
      }
      h2 {
        padding-top: 1.68rem;
      }
      p:nth-child(2) {
        padding: .625rem 0;
      }
      p:nth-child(3) {
        padding-bottom: 2.68rem;
      }
    }
  }

  //worksList
  .art {
    margin-right: 100px;
    h5 {
      padding: 2rem 0;
    }
    &-container {
      padding-top: 5.2rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      div:nth-child(3){
        grid-area: 1 / 3 / 3 / 5;
      }
    }
  }

  //art individuel
  .slideshow {
    position: fixed;
    top: 15%;
    padding-top: 100px;
    width: 80%;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 7rem 0;
    //close button
    .close{
      top: 3rem;
      right: 1.5rem;
    }
    &-container {
      margin: -5rem 0;
      padding-top: 2rem;
      ul {
        margin: 0 6rem;
      }
      //slide content
      li > div {
        @include grid-column(1fr 1fr);
        column-gap: 5rem;
        align-items: center;
        h5, a {
          @include navBtn($antracite);
        }
        h2 {
          line-height: 2.5rem;
          font-family: $sortsmill-font;
          font-size: 2.8rem;
          padding: 1rem 0;
        }
        p {
          padding-bottom: .8rem;
        }
        a {
          color: $teal;
        }
      }
      //prev and next
      &-button {
        top: 50%;
        transform: translateY(-50%);
        &:nth-child(1) {
          left: -25px;
        }
        &:nth-child(2) {
          right: -25px;
        }
      }
    }
  }

  //actualités/news list
  .actualites {
    margin-right: 100px;
    h1 {
      padding-top: 3.56rem;
    }
    &-btn {
      padding: 3.56rem 0 7rem;
      @include flex-box(center, center, wrap);
      gap: 1rem 3.125rem;
      a {
        column-gap: 2.65rem;
        @include button($light-theme: true);
        &:hover, &:active &:focus{
          @include button($light-theme: false)
        }
      }
    }
    div.show{
      display: flex;
    }
    &-container {
      @include flex-box(center, flex-start, wrap);
      gap: 5.18rem 3.5rem;
        &-topic{
        width: calc(33.33% - 3.5rem);
        p:nth-child(2){
          color: $gray1;
          padding: 1.8rem 0 .56rem;
        }
        h3 {
          padding-bottom: .68rem;
        }
      }
    }
  }

  //actualites individuel
  .news{
    &-article{
      margin-right: 100px;
      a i {
        padding-top: 2.5rem;
      }
    }
    &-container{
      margin: 6.5rem 0;
      @include grid-column(3fr 2fr);
      gap: 2rem;
      div p:first-child{
        display: none;
      }
      h2 {
        padding-bottom: 2rem;
      }
      p:nth-child(7) {
        padding-bottom: 1.5rem;
      }
    }
    &-other{
      div.show{
        display: flex;
      }
      h2{
        padding-bottom: 2.5rem;
      }
      div {
        justify-content: space-between;
      }
    }
  }

  //biographie
  .biographie{
    margin: 2rem 100px 0 0;
    &-dropdown{
      @include flex-box(space-evenly, center, wrap);
      padding: 3.5rem 0 6.5rem;
      gap: 2rem 1.2rem;
      align-items: stretch;
      i {
        display: none;
      }
    }
    div{
      .btn {
        @include flex-box(space-evenly, center, wrap);
        text-align: center;
        line-height: 1;
        @include button($light-theme: true);
        &:hover, &.active{
          @include button($light-theme: false);
        }
      }
    }
    &-title {
      display: none;    
    }
    &-presentation div {
      @include grid-column(2fr 4fr);
      column-gap: 5rem;
      img{
        grid-row: 1/8;
      }
      h2 {
        padding-bottom: 1rem;
      }    
      p:not(:first-child){
        padding-top: 1rem;
      }
    }
  }
}

@media only screen and (max-width:576px){
//@media only screen and (max-width:785px){
  .logo{
    width: 172px;
    height: 30px;
  }

  body {
    .body-container {
      padding: 0 1rem 1rem;
      section:first-child{
        padding-top: 5rem;
      }
    }
  }
  
  //footer
  footer {
    padding: 2rem 1rem;
  }
  .container-footer{
    @include flex-box(space-between, center, nowrap);
    flex-direction: row;
  }
  .container-pags, .d-none, .copyright{
    display: none;
  }

  // header menu
  .nav-top {
    @include flex-box(space-between, center, nowrap);
    position: fixed;
    z-index: 11;
    padding: 1.3rem 1.12rem;
    width: 100%;
    height: 4.56rem;
    background-color: $white;
    top: 0;
    > img {
      width: 195px;
      height: 36px;
    }
    
    .hamburger {
      cursor: pointer;
    }
  }

  .nav-is-toggled {
    .nav-drill {
      transform: translateX(0);
      padding-bottom: 4.56rem;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav {
    &-drill {
      transform: translateX(100%);
      display: flex;
      position: fixed;
      z-index: 12;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $white;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      transition: 0.45s;
      margin-top: 4.56rem;
    }

    &-items {
      flex: 0 0 100%;
      @include flex-box(space-around, flex-start, nowrap);
      margin-bottom: 6.56rem;
      flex-direction: column;
      padding-left: 1rem;
      .menu-language {
        display: none;
      }
    }

    &-link {
      display: block;
      font-size: 1rem;
      font-weight: 500;
    }
    
    &-expand {
      @include flex-box(flex-start, center, nowrap);
      i {
        color: $teal;
      }

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 0.3s;
        visibility: hidden;
        padding-bottom: 6.56rem;

        .nav-item > .nav-back-link {
          color: $teal;
          font-weight: 600 !important;
          line-height: 1.25rem;
          padding-left: .5rem;
        }
      }
      
      &-link {
        padding-right: 1.5rem;
      }
      
      &.active {
        > .nav-expand-content {
          transform: translateX(0);
          visibility: visible;
        }
      }
      
      .nav-expand-content {
        background-color: $white;
        padding-bottom: 11.10rem;
        .nav-link {
          font-weight: 500;
        }
        .nav-expand-content {
          padding-bottom: 11.10rem;
          .nav-link {
            font-weight: 400;
          }				
        }
      }
    }
  }

  .menu {
    &-footer{
      background-color: $antracite;
      color: $white;
      padding: 1rem;
      width: 100%;
      bottom: 0;
      position: fixed;
      margin-bottom: 4.56rem;
    }
    &-language{
      @include flex-box(flex-start, center, nowrap); 
      a span > i {
        font-size: 1.75rem;
        padding-right: 0.75rem;
      }
      div {
        @include flex-box(flex-start, center, nowrap);
        p {
          padding-right: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }
    &-CR{
      font-size: .625rem;
      padding-top: 1rem;
      line-height: 0.75rem;
    }
  }

  .img-menu {
    display: none;
  }

  //latestWorksSlide
  .slider {
    position: static;
    margin: 4.75rem 0;
    &-title {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding: .5rem 0;
    }
    .intro {
      display: none;
    }
    &-content {
      flex-direction: column;
      overflow: hidden;
      // margin-right: -15px;
      // margin-left: -15px;
    }
    &-arts {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    .slide-2{
      justify-content: center;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      padding: 0 .3rem;
      img {
         width:100%;
      }
      .body-text {
        white-space: normal;
        text-align: center;
        padding: 0 2rem;
      }
    }
  }

  //home
  .home{
    margin: 3.12rem 0;
    display: flex;
    flex-direction: column-reverse;
    &-slider-details {
      display: none;
    }
    &-message{
      h1{
        font-family: $sortsmill-font;
        font-size: 3.125rem;
        line-height: 4.8rem;
        padding-bottom: .5rem;
      }
      p {
        font-weight: 400;
        font-size: .93rem;
        line-height: 1.4rem;      
      }
    }    
  }

  //home actualites
  .news {
    display: flex;
    flex-direction: column;
    margin: 3.2rem 0;
    &-title {
      @include flex-box(space-between, center, nowrap); 
      h4 {
        font-weight: 600;
        color: $teal;
      }
      a{
        @include button($light-theme: true);
        &:active{
          @include button($light-theme: false);
        }
      }
    }
    img {
      padding: 1rem 0 1.56rem;
    }

    p:nth-child(2) {
      padding: .875rem 0 .68rem;
    }
    &-presentation > a {
      display: none;
    };
  }

  //worksList
  .art {
    h1 {
      font-size: 3.125rem;
      width: 50%;
      margin: 0 auto;
      line-height: 2.1rem;
    }
    &-container {
      padding-top: 1.8rem;
      grid-template-columns: 1fr 1fr;
      div:nth-child(3){
        grid-area: 5 / 1 / 7 / 3;
      }
    }
  }

  .slideshow {
    position: absolute;
    top: 70px;
    padding: 60px 0 50px;
    width: 92%;

    //close button
    > div:first-child{
      right: 1rem;
      top: 1rem;
    }
    &-container {
      padding: 0 1rem;
      text-align: center;
      li > div {
        h5 {
          padding-top: 30px;
        }
        h2 {
          padding: 11px 0 14px;
        }
        a {
          display: none;
        }
      }
      &-button {
        bottom: 0;
        border: solid 3px $white;
        &:nth-child(1) {
          left: 33%;
          bottom: -72px;
        }
        &:nth-child(2) {
          right: 33%;
          bottom: -72px;
        }
      }
    }
  }

  //actualités/news list
  .actualites {
    h1{
      font-size: 3.125rem;
    }
    &-btn {
      padding: 1rem 0 2.6rem;
      @include grid-column(1fr 1fr);  
      margin: 0 auto;
      gap: .5rem;
      font-size: .75rem;
      width: 80%;
      a.btn-act {
        @include flex-box(center, center, wrap);
      }
    }
    div.show{
      display: block;
    }
    &-container {
      &-topic{
        &:not(:last-child){
          margin-bottom: 4rem;
        }
        div img{
          margin: 0 auto;
        }
        p:nth-child(2){
          padding: 1.3rem 0 .75rem;
        }
        h3 {
          padding-bottom: .3rem;
        }
      }
    }
  }

  // actualités article individual
  .news{
    &-article{
      margin-bottom: 4.625rem;
      display: flex;
      flex-direction: column;
      a {
        text-align: center;
        @include navBtn($teal);
        i {
          padding-right: 1rem;
          color: $antracite;
        }
      }
      img {
        margin: 0 auto;
      }
    }
    &-container{
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 4rem;
      div p:first-child{
        font-weight: $weight-600;
        width: 50%;    
      }
      h2 {
        padding: 0.5rem 0 1rem;
        font-size: 24px;
        line-height: 28.9px;
      }
      p:nth-child(3){
        padding-bottom: 1rem;
      }
      a:last-child{
        font-weight: 700;
        font-size: $font-s;
        color: $teal;
        padding-top: 1rem;
      }
      img {
        padding: 2rem 0 2.3rem;

      }
    }
    &-other{
      h2{
        width: 50%;
        padding-bottom: 1.75rem;
      }
    }
  }
    //biographie
  .biographie{
    &-btn{
      text-align: center;
      position: relative;
      cursor: pointer;
      padding: 2.2rem 0 3.5rem;
      display: inline-block;
      &:hover .biographie-dropdown{
        display: block;
      }
    }
    &-dropdown, &-btn{
      left: 50%;
      transform: translateX(-50%);
    }
    #bio-drop:hover li {
      @include flex-box(center, center, nowrap); 
    }
    
    &-dropdown{
      border-radius: 1rem;
      position: absolute;
      background-color: $gray2;
      min-width: 17.5rem;
      z-index: 1;
      top: 20%;
      .btn {
        @include flex-box(center, center, nowrap); 
      }
      i {
        display: none;
        padding-left: 1rem;
      }
      .active {
        @include button($light-theme: false);
        &:active{
          background-color: $teal-hover;
        }
        i {
          display: block;
          padding-left: 1rem;
        }
      }
      
      li:not(.active) {
        display: none;
        color: $teal;
        padding: .8rem 1.5rem;
      }
    }
    &-presentation {
      div {
        display: flex;
        flex-direction: column;
        img{
          margin: 0 auto;
          order: 2;
          padding: .5rem 0;
        }
        h2 {
          display: none;
        }
        p:last-child {
    
          order: 99;
        }
      }
    }
  }
}
