@media only screen and (min-width: 420px) {
  .menu-footer{
    display: none;
  }
  
  footer {
    padding: 2.6rem 4rem;
  }
  
  .container-footer{
    @include grid-column(2fr 4fr);  
    gap: 1.5rem;
  }
  
  .container-pags{
    @include grid-column(repeat(4, 1fr));  
    gap: 1.5rem;
  }
  
  .footer-logo {
    @include flex-box(space-between, flex-start, nowrap);
    flex-direction: column;  
    div {
      p {
        font-size: $font-xs;
        padding-right: .5rem;
      }
      span i {
        font-size: 1.75rem;
      }
    }
  }
  .menu-icon{
    display: none;
  }

  .header{
    &-menu {
      z-index: 999;
      position: fixed;
      width: 100%;
      background-color: $white;
      i:not(:last-child) {
        display: none;
      }
    }
    &-container {
      height:5.25rem;
      @include flex-box(space-around, center, nowrap);   
    }
    &-language{
      @include flex-box(space-around, center, nowrap);    

      color: $gray1;
      > div {
        @include flex-box(space-around, center, nowrap);    
      } 
    }
  }
  
  .nav {
    &-top {
      width: 253.5px;
    }
    
    &-drill {
      width: 100%;

      > ul {      
        @include flex-box(space-around, center, nowrap);
        
      }
      .menu-language {
        color: $gray1;
        i{
          font-size: $font-m;  
          padding-right: 1.5rem;
        }
        div {
          font-size: $font-xs;  
          font-weight: $weight-400;
        }
        a:hover {
          color: $antracite;
        }
      }
      .img-menu{
        width: 18.75rem;
      }
    }
    
    &-link {
      display: block;
      @include navBtn($antracite);
    }

    &-container {  
      @include flex-box(space-around, flex-start, nowrap); 
      position: fixed;
      top: 84px;
      left: 0;
      width: 100%;         
      background-color: $white;  
      opacity: 0; 
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;    
      li {
        flex: 1 1 0px;
      }      
    }
    &-expand.active .nav-container{
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }

    &-expand {  
      &-content {
        .nav-back {
          display: none;
        }
      }
              
      .nav-expand-content {
        .nav-link {
          font-weight: 500;
          line-height: 1rem;
          
        }
        .nav-expand-content {
          .nav-link {
            font-weight: 400;
            line-height: 1.7rem;
            &:hover{
              color: $teal;
              font-weight: $weight-500;
            }
          }				
        }
      }
    }
  }

  //last-art {
  .slider {
    position: static;
    left: 10%;
    top: 30%;
    margin: 5rem 0;
      &-content {
        @include grid-column(1fr 6fr);
        gap: 2.6rem;
        position: relative;
        top: 0;
        left: 0;
        height: 100%;
        width: 180%;
        pointer-events: none;
        transition: 0s ease-in;
        overflow: visible;
      }
      &-arts {
        @include grid-column(repeat(5, 1fr));
        gap: 3.8rem;
      }    
    }

    //homeBlock
  .home{
    @include grid-column(1fr 1fr); 
    justify-items: end;
    gap: 4.5rem;
    &-message{
      @include flex-box(center, flex-start, nowrap);
      flex-direction: column;
      h1{
        font-family: $sortsmill-font;
        font-size: 6.25rem;
        line-height: .7;
        padding-bottom: 2rem;
      }
      p {
        font-weight: 300;
        font-size: $h3;
        line-height: 1.6rem;      }
    }
    &-slider {
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;
      
    &-details {
      color: $white;
      position: absolute;
      bottom: 2.5rem;
      left: 2.5rem;
      width: 100%;
      }
    }
    &-slides {
      width: 400%;
      display: flex;
      input {
        display: none;
      }
    } 
    &-slide {
      display: none;
      img {
        width: 100%;
      }
    }
  }

  .slide {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  //img-header-navigation
  .navigation {
    &-manual{
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 1.5rem;
      top: 45%;
    }
    &-manual-btn {
      transition: background-color 0.6s ease;
      border: 2px solid $white;
      padding: 5px;
      border-radius: 10px;
    }
    &-manual-btn{
      cursor: pointer;
      &:hover{
        background: $white;
      }
      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }

  .active {
    background-color: $white;
  }

  //actualites
  .news {
    margin: 8.3rem 0;
    @include grid-column(1fr 2fr);
    column-gap: 5.6rem;
    &-title {
      a{
        display: none;
      }
    }
    &-img {
      grid-column: 2;
      grid-row: 1/4;
    }
    &-presentation {
      h4, a {
        @include navBtn($teal);
      }
      h2 {
        padding-top: 1.68rem;
      }
      p:nth-child(2) {
        padding: .625rem 0;
      }
      p:nth-child(3) {
        padding-bottom: 2.68rem;
      }
    }
  }
}

@media only screen and (max-width:420px){
  .logo{
    width: 172px;
    height: 30px;
  }

  //footer
  footer {
    padding: 2rem 1rem;
  }
  .container-footer{
    @include flex-box(space-between, center, nowrap);
    flex-direction: row;
  }
  .container-pags, .d-none, .copyright{
    display: none;
  }

  // header menu
  .nav-top {
    @include flex-box(space-between, center, nowrap);
    position: fixed;
    z-index: 101;
    padding: 1.3rem 1.12rem;
    width: 100%;
    height: 4.56rem;
    background-color: $white;
    > img {
      width: 195px;
      height: 36px;
    }
    
    .hamburger {
      cursor: pointer;
    }
  }

  .nav-is-toggled {
    .nav-drill {
      transform: translateX(0);
      padding-bottom: 4.56rem;
    }
    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  .nav {
    &-drill {
      transform: translateX(100%);
      display: flex;
      position: fixed;
      z-index: 100;
      top: 0;
      width: 100%;
      height: 100vh;
      background-color: $white;
      overflow-y: auto;
      overflow-x: hidden;
      -webkit-overflow-scrolling: touch;
      transition: 0.45s;
      margin-top: 4.56rem;
    }

    &-items {
      flex: 0 0 100%;
      @include flex-box(space-around, flex-start, nowrap);
      margin-bottom: 6.56rem;
      flex-direction: column;
      padding-left: 1rem;
      .menu-language {
        display: none;
      }
    }

    &-link {
      display: block;
      font-size: 1rem;
      font-weight: 500;
    }
    
    &-expand {
      @include flex-box(flex-start, center, nowrap);
      i {
        color: $teal;
      }

      &-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100%);
        transition: 0.3s;
        visibility: hidden;
        padding-bottom: 6.56rem;

        .nav-item > .nav-back-link {
          color: $teal;
          font-weight: 600 !important;
          line-height: 1.25rem;
          padding-left: .5rem;
        }
      }
      
      &-link {
        padding-right: 1.5rem;
      }
      
      &.active {
        > .nav-expand-content {
          transform: translateX(0);
          visibility: visible;
        }
      }
      
      .nav-expand-content {
        background-color: $white;
        padding-bottom: 11.10rem;
        .nav-link {
          font-weight: 500;
        }
        .nav-expand-content {
          padding-bottom: 11.10rem;
          .nav-link {
            font-weight: 400;
          }				
        }
      }
    }
  }

  .menu {
    &-footer{
      background-color: $antracite;
      color: $white;
      padding: 1rem;
      width: 100%;
      bottom: 0;
      position: fixed;
      margin-bottom: 4.56rem;
    }
    &-language{
      @include flex-box(flex-start, center, nowrap); 
      a span > i {
        font-size: 1.75rem;
        padding-right: 0.75rem;
      }
      div {
        @include flex-box(flex-start, center, nowrap);
        p {
          padding-right: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }
    &-CR{
      font-size: .625rem;
      padding-top: 1rem;
      line-height: 0.75rem;
    }
  }

  .img-menu {
    display: none;
  }

  //last art
  .slider {
    position: static;
    margin: 4.75rem 0;
    &-title {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      padding: .5rem 0;
    }
    .intro {
      display: none;
    }
    &-content {
      flex-direction: column;
      overflow: hidden;
      margin-right: -15px;
      margin-left: -15px;
    }
    &-arts {
      display: block;
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: -ms-autohiding-scrollbar;
    }
    &-art{
      justify-content: center;
      align-items: center;
      display: inline-flex;
      flex-direction: column;
      .body-text {
        white-space: normal;
        text-align: center;
        padding: 0 2rem;
      }
    }
  }

  //homeBlock
  .home{
    margin: 3.12rem 0;
    display: flex;
    flex-direction: column-reverse;
    &-slider-details {
      display: none;
    }
    &-message{
      h1{
        font-family: $sortsmill-font;
        font-size: 3.125rem;
        line-height: 4.8rem;
        padding-bottom: .5rem;
      }
      p {
        font-weight: 400;
        font-size: .93rem;
        line-height: 1.4rem;      
      }
    }    
  }

  .news {
    display: flex;
    flex-direction: column;
    margin: 3.2rem 0;
    &-title {
      @include flex-box(space-between, center, nowrap); 
      a{
        @include button($teal, $gray2, $gray1);
      }
    }
    img {
      padding: 1rem 0 1.56rem;
    }

    p:nth-child(2) {
      padding: .875rem 0 .68rem;
    }
    &-presentation > a {
      display: none;
    };
    
  }
}