@media only screen and (min-width: 576px) {
  body {
    .body-container {
      max-width: 1800px;
      overflow: hidden;
      padding: 80px 0 100px 100px;
    }
  }

  //footer burguer menu non visible for this size
  .menu-footer {
    display: none;
  }


  footer {
    //general padding
    padding: 2.6rem 100px;

    .logo {
      max-width: 80%;
    }

    .container {

      //footer distribution
      &-footer {
        @include grid-column(2fr 4fr);
        gap: 1.5rem;
      }

      //content column distribution
      &-pags {
        @include grid-column(repeat(4, 1fr));
        gap: 1.5rem;

        li {
          padding-top: .5rem;
        }
      }
    }

    //footer logo distribution
    .footer {
      &-content {

        //angle bracket
        i {
          display: none;
        }

        .foot {
          &-link {
            font-size: $font-s;
          }

          &-link-title {
            font-weight: 500;
          }

          &-back-link {
            display: none;
          }
        }

        >ul {
          @include grid-column(repeat(4, 1fr));
          gap: 2.5rem;

          ul.footer-content-items {
            li:first-child {
              padding-top: 1rem;
            }

            li:not(:first-child) {
              padding-top: .7rem;
            }
          }
        }

        ul.footer-content-items {
          line-height: 1;
        }
      }

      &-logo {
        @include flex-box(space-between, flex-start, nowrap);
        flex-direction: column;

        div {

          //language
          p {
            font-size: $font-xs;
            padding-right: .5rem;
          }

          //facebook icon
          span i {
            font-size: 1.75rem;
          }
        }
      }
    }
  }

  .contactMe {
    //margin to be all the way to the left
    margin: 8rem 0 -8rem -6rem;
  }

  //header burguer menu non visible for this size
  .menu-icon {
    display: none;
  }

  .header {

    //header menu general
    &-menu {
      top: 0;
      z-index: 10;
      position: fixed;
      width: 100%;
      background-color: $white;

      i:not(:last-child) {
        display: none;
      }
    }

    //header menu distribution (logo & subjects)
    &-container {
      //gap: 3rem;        
      margin: 0 100px;
      height: 5.25rem;
      @include flex-box(space-around, center, nowrap);
    }
  }

  .nav {

    //logo menu
    &-top {

      //max-width: 253.5px;
      img {
        max-width: 80%;
      }
    }

    &-drill {
      //header menu content (subjects)
      width: 100%;

      //menu' subjects in columns
      >ul {
        @include flex-box(space-around, center, nowrap);
        text-align: center;

        >li {
          flex: 1 1 0px;
        }
      }

      a:hover {
        color: $teal;
      }

      //language menu distribution
      .menu-language {
        @include flex-box(center, center, nowrap);
        color: $gray1;

        i {
          font-size: $font-m;
          padding-right: 1.5rem;
        }

        div {
          font-size: $font-xs;
          font-weight: $weight-400;
        }
      }
    }

    &-link {
      display: block;
      @include navBtn($antracite);
    }

    //dropdown menu
    &-container {
      padding: 0 100px 3.5rem;
      @include flex-box(space-around, flex-start, nowrap);
      position: fixed;
      top: 84px;
      left: 0;
      width: 100%;
      background-color: $white;
      display: none;
      transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

      //same width between each column
      >li {
        flex: 1 1 0px;
      }

      //same height start for the lists
      .column {
        display: grid;
        grid-template-rows: 4rem;
      }
    }

    //dropdown menu distribution
    &-expand.active .nav-container {
      display: flex;
      transform: translateY(0);
      pointer-events: auto;
      gap: 1.5rem;
    }

    //expandable button
    &-expand {
      .img-menu {
        max-width: 18.75rem;

        div p {
          padding-top: .5rem;
        }
      }

      //dropdown columns
      &-content {

        //back click
        .nav-back {
          display: none;
        }

        //column
        .nav-expand {
          >a {
            padding-bottom: 1rem;
          }
        }
      }

      .nav-expand-content {

        //column title
        >.nav-link {
          font-weight: 500;
          line-height: 1rem;
        }

        //column content
        .nav-expand-content {
          .nav-link {
            font-weight: 400;
            line-height: 1rem;
            padding-bottom: .7rem;

            &:hover {
              color: $teal;
              // font-weight: $weight-500;
            }
          }
        }
      }
    }
  }

  //latestWorks Slider 
  .slider {
    margin-top: 10rem;

    &-wrap {
      position: relative;
      height: 100%;
      width: 100%;
      overflow: scroll;

      // Hide scrollbar for chrome
      &::-webkit-scrollbar {
        display: none;
      }

      // Hide scrollbar for IE, Edge and Firefox
      & {
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }


    //slider distribution
    &-content {
      @include grid-column(1fr 6fr);
      gap: 2.6rem;
      position: relative;
      left: -46px;
      width: 180%;
    }

    //section title
    &-title {
      .title {
        padding-bottom: 1rem;
      }
    }

    //columns art
    &-arts {
      @include grid-column(repeat(5, 1fr));
      gap: 3.8rem;
    }
  }

  //home page
  .home {
    @include grid-column(1fr 1fr);
    justify-items: end;
    gap: 4.5rem;
    margin-top: 2rem;

    //welcome block
    &-message {
      @include flex-box(center, flex-start, nowrap);
      flex-direction: column;

      h1 {
        font-family: $sortsmill-font;
        font-size: 6.25rem;
        line-height: .7;
        padding-bottom: 2rem;
      }

      p {
        font-weight: 300;
        font-size: $h3;
        line-height: 1.6rem;
      }
    }

    //img slider
    &-slider {
      width: 100%;
      height: 100%;
      margin: auto;
      position: relative;

      //data of the img
      &-details {
        color: $white;
        position: absolute;
        bottom: 2.5rem;
        left: 2.5rem;
        width: 100%;
      }
    }

    //slides container
    &-slides {
      //width: 400%;
      display: flex;

      input {
        display: none;
      }
    }

    //slide
    &-slide {
      display: none;

      img {
        width: 100%;
      }
    }
  }

  //slider navigation's btns
  .navigation {
    &-manual {
      position: absolute;
      display: flex;
      flex-direction: column;
      right: 1.5rem;
      top: 45%;

      .active {
        background-color: $white;
      }
    }

    &-manual-btn {
      transition: background-color 0.6s ease;
      border: 2px solid $white;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background: $white;
      }

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }


  //actualites home
  .news {
    margin: 8.3rem 6.25rem 0 0;
    @include grid-column(1fr 2fr);
    column-gap: 5.6rem;

    h4 {
      @include navBtn($teal);

      &:hover {
        color: $antracite;
      }
    }

    &-title {


      >a:not(:first-child) {
        display: none;
      }
    }

    &-img {
      grid-column: 2;
      grid-row: 1/4;
      justify-self: end;
    }

    //section info
    &-presentation {
      h2 {
        padding-top: 1.68rem;
      }

      p:nth-child(2) {
        padding: .625rem 0;
      }

      p:nth-child(3) {
        padding-bottom: 2.68rem;
      }
    }
  }

  //artworks list
  .arts {
    width: 76vw;

    ul.dropdown {
      @include btn-dropdown(false);
    }

    margin-right: 100px;

    h5 {
      padding: 2rem 0;
    }

    //artwork grid
    .art-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;

      //bigger photo
      div:nth-child(3) {
        grid-area: 1 / 3 / 3 / 5;
      }
    }
  }

  //artwork pop-up
  .slideshow {
    max-width: 1800px;
    position: fixed;
    width: 85vw;
    height: 85vh;
    align-items: center;

    //close button
    .close {
      top: 3rem;
      right: 1.5rem;
    }

    //artwork info container 
    &-container {
      width: 100%;

      >ul {
        margin: 0 3rem;
      }

      //slide content
      .cardSlide {

        >div {
          @include grid-column(1fr 1fr);
          column-gap: 2rem;
        }

        h5,
        a {
          @include navBtn($antracite);
          text-align: left;
        }

        h2 {
          line-height: 2.5rem;
          font-family: $sortsmill-font;
          font-size: 2.8rem;
          padding: 1rem 0;
        }

        p {
          padding-bottom: .8rem;
        }

        a {
          color: $teal;
        }
      }

      //btns prev and next
      &-button {
        top: 50%;
        transform: translateY(-50%);

        &:nth-child(1) {
          left: -25px;
        }

        &:nth-child(2) {
          right: -25px;
        }
      }
    }

    //little slide
    .texts {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-2 {
      display: flex;
      align-items: center;
      justify-content: center;

      &-container {
        text-align: -webkit-center;

        &-button {
          transform: translateY(-50%);
          top: 50%;

          &:nth-child(1) {
            left: 2rem;
          }

          &:nth-child(2) {
            right: 50%;
          }
        }

        .slideshow-img {
          max-height: 80vh;
        }
      }
    }
  }

  //actualités/news list
  .actualites {
    margin-right: 100px;

    //switching buttons
    ul.dropdown {
      @include btn-dropdown(false);
    }


    h1 {
      padding-top: 3.56rem;
    }

    //content to show
    div.show {
      display: flex;
    }

    //content distribution
    &-container {
      @include flex-box(center, flex-start, wrap);
      gap: 5.18rem 3.5rem;

      //card info distribution
      &-topic {
        width: calc(33.33% - 3.5rem);

        p:nth-child(2) {
          color: $gray1;
          padding: 1.8rem 0 .56rem;
        }

        h3 {
          padding-bottom: .68rem;
        }
      }
    }
  }

  //actualites individuel
  .news {

    //link to all news
    &-article {
      margin-right: 100px;

      a i {
        padding-top: 2.5rem;
      }
    }

    //news distribution
    &-container {
      margin: 6.5rem 0;
      @include grid-column(3fr 2fr);
      gap: 2rem;

      //subtitle
      div p:first-child {
        display: none;
      }

      h2 {
        padding-bottom: 2rem;
      }

      p:nth-child(7) {
        padding-bottom: 1.5rem;
      }

      .img-container {
        padding-top: 3rem;

        //photo container
        >div {
          padding-bottom: 1.5rem;
        }

      }
    }

    //another news
    &-other {
      div.show {
        display: flex;
      }

      h2 {
        padding-bottom: 2.5rem;
      }

      div {
        justify-content: space-between;
      }
    }
  }

  //biographie
  .biographie {
    margin: 2rem 100px 0 0;

    //menu buttons distribution and design
    &-dropdown {
      @include btn-dropdown(false);
    }

    //container content distribution
    &-presentation>div {

      @include grid-column(2fr 4fr);
      column-gap: 5rem;

      img {
        grid-row: 1/8;
      }

      h2 {
        padding-bottom: 1rem;
      }
    }

    &-presentation.video>div {
      grid: none;

      h2 {
        text-align: center;
      }

      div {
        @include grid-column(repeat(2, 1fr));
        justify-items: center;
        gap: 2rem;
      }
    }


    //presentation content
    &-presentation.hello {
      p:not(:first-child) {
        padding-top: 1rem;
      }
    }

    &-presentation.awards ul {
      li {
        @include grid-column(13% auto);
      }
    }

    //container content
    &-presentation.awards,
    &-presentation.permanence,
    &-presentation.monuments,
    &-presentation.personal,
    &-presentation.collectives,
    &-presentation.evenements {
      ul li {
        &:not(:first-child) {
          padding-top: .5rem;
        }
      }

      div div ul {
        h3 {
          padding-bottom: .5rem;
        }

        &:not(:first-child) {
          padding-bottom: 2rem;
        }
      }
    }
  }
}

@media only screen and (max-width:576px) {

  //@media only screen and (max-width:785px){
  body {
    .body-container {
      padding: 0 1rem 1rem;

      section:first-child {
        padding-top: 5rem;
      }
    }
  }

  .logo {
    max-width: 130px;
  }

  .contactMe {
    margin: 0 -1rem -1rem;
  }

  //footer
  footer {
    padding: 2rem 1rem;

    .container {
      &-footer {
        .footer-logo {
          @include flex-box(space-between, center, nowrap);
        }
      }
    }

    .container-pags,
    .d-none,
    .copyright {
      display: none;
    }

  }

  // header menu distribution
  .nav-top {
    @include flex-box(space-between, center, nowrap);
    position: fixed;
    z-index: 11;
    padding: 1.3rem 1.12rem;
    width: 100%;
    height: 4.56rem;
    background-color: $white;
    top: 0;
  }

  //opening menu
  .nav-is-toggled {
    .nav-drill {
      transform: translateX(0);
      padding-bottom: 4rem;

      ul.noshow,
      i.noshow {
        display: none;
      }
    }

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  .footer-is-toggled {
    .footer-content {
      color: $antracite;
      transform: translateX(0);
      padding-bottom: 4rem;
      left: 0;
    }

    .container-footer {
      position: relative;
    }

    div.menu-foot {
      z-index: 200;
      position: fixed;
      top: 10px;
      right: 18px;
      background-color: white;
    }

    &::after {
      opacity: 1;
      visibility: visible;
    }
  }

  //open menu
  .nav-drill,
  .footer-content {
    transform: translateX(100%);
    display: flex;
    position: fixed;
    z-index: 12;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: $white;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    transition: 0.45s;
    margin-top: 4.56rem;
  }

  //menu items
  .nav-items,
  .footer-content-items {
    flex: 0 0 100%;
    @include flex-box(space-around, flex-start, nowrap);
    margin-bottom: 6rem;
    flex-direction: column;
    padding-left: 1rem;

    .menu-language {
      display: none;
    }
  }

  //bold title menu
  .nav-link,
  .foot-link {
    font-weight: 500;
  }

  .nav-expand,
  .foot-expand {
    //expandable titles
    @include flex-box(flex-start, center, nowrap);

    i {
      color: $teal;
    }

    //third menu
    .nav-expand-content {
      background-color: $white;
      padding-bottom: 11.10rem;

      .nav-link {
        font-weight: 500;
      }

      .nav-expand-content {
        padding-bottom: 11.10rem;

        .nav-link {
          font-weight: 400;
        }
      }
    }
  }

  .foot-expand {

    //third menu
    .foot-expand-content {
      background-color: $white;
      padding-bottom: 11.10rem;

      .foot-link {
        font-weight: 500;
      }

      .foot-expand-content {
        padding-bottom: 11.10rem;

        .foot-link {
          font-weight: 400;
        }
      }
    }
  }

  //open second menu
  .nav-expand-content,
  .foot-expand-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: 0.3s;
    visibility: hidden;
    padding-bottom: 6.56rem;

    //title to go back
    .nav-item>.nav-back-link {
      color: $teal;
      font-weight: 600 !important;
      line-height: 1.25rem;
      padding-left: .5rem;
    }
  }

  .nav-expand-link,
  .foot-expand-link {
    padding-right: 1.5rem;
  }

  .nav-expand.active {

    //to make visible the second menu
    >.nav-expand-content {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .foot-expand.active {

    //to make visible the second menu
    >.foot-expand-content {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .foot-expand-content {

    //title to go back
    .foot-item>.foot-back-link {
      color: $teal;
      font-weight: 600 !important;
      line-height: 1.25rem;
      padding-left: .5rem;
    }
  }

  //footer in menu
  .menu {
    &-footer {
      background-color: $antracite;
      color: $white;
      padding: 1rem;
      width: 100%;
      bottom: 0;

      position: fixed;
      margin-bottom: 4.56rem;
    }

    &-language {
      @include flex-box(flex-start, center, nowrap);

      a span>i {
        font-size: 1.75rem;
        padding-right: 0.75rem;
      }

      div {
        @include flex-box(flex-start, center, nowrap);

        p {
          padding-right: 0.5rem;
          font-size: 0.75rem;
        }
      }
    }

    &-CR {
      font-size: .625rem;
      padding-top: 1rem;
      line-height: 0.75rem;
    }
  }

  //image in the menu non visible for this size
  .img-menu {
    display: none;
  }

  //latestWorks Slider 
  .slider {
    overflow: scroll;
    width: 92vw;
    text-align: center;

    //slider distribution
    &-content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      position: relative;
      width: 500%;

      .slider-arts {
        overflow: hidden;

        >div:first-child {
          padding-left: 1rem;
        }

        >div:last-child {
          padding-right: 1rem;
        }

        // Hide scrollbar for chrome
        &::-webkit-scrollbar {
          display: none;
        }

        // Hide scrollbar for IE, Edge and Firefox
        & {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

        .item {
          position: relative;
          @include flex-box(flex-start, flex-start, nowrap);
          column-gap: 2rem;
        }
      }
    }

    //section title
    // &-title {
    //   width: 50%;
    //   margin: 0 auto;
    //   text-align: center;
    //   padding: .5rem 0;
    // }

    // //intro text in the menu non visible for this size 
    // .intro {
    //   display: none;
    // }

    // position: absolute;
    // top: 10%;
    // left: 5%;
    // width: 90%;
    // cursor: grab;

    // &-wrap {
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   overflow: scroll;
    // }

    // &-content {
    //   position: absolute;
    //   //display: flex;
    //   justify-content: space-around;
    //   top: 0;
    //   left: 0;
    //   width: 3000px;
    //   height: 100%;

    //   .item {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 250px;
    //     height: 98%;
    //     top: 1%;
    //   }
    // }

  }

  // .slider {
  //   margin: 4.75rem 0;

  //   //section title
  //   &-title {
  //     width: 50%;
  //     margin: 0 auto;
  //     text-align: center;
  //     padding: .5rem 0;
  //   }

  //   //intro text in the menu non visible for this size    
  //   .intro {
  //     display: none;
  //   }

  //   //slider distribution
  //   &-content {
  //     flex-direction: column;
  //     overflow: hidden;
  //   }

  //   &-wrap {
  //     overflow: hidden;
  //     max-width: 83vw;
  //   }

  //   //columns art    
  //   &-arts {
  //     display: block;
  //     white-space: nowrap;
  //     overflow-x: auto;
  //     -webkit-overflow-scrolling: touch;
  //     -ms-overflow-style: -ms-autohiding-scrollbar;
  //   }

  //   //slider card
  //   .slide-2 {
  //     align-items: center;
  //     display: inline-flex;
  //     flex-direction: column;
  //     padding: 0 .3rem;


  //     >a>img {
  //       position: absolute;
  //       display: block;
  //       height: 100%;
  //       /* all images at least fill the height */
  //       top: 50%;
  //       /* top, left, transform trick to vertically and horizontally center image */
  //       left: 50%;
  //       transform: translate3d(-50%, -50%, 0);
  //     }

  //     .body-text {
  //       white-space: normal;
  //       text-align: center;
  //       padding: 0 2rem;
  //     }

  //     >div {

  //       position: relative;
  //       width: 25%;
  //       /* whatever width you want. I was implementing this in a 4 tile grid pattern. I used javascript to set height equal to width */
  //       border: 2px solid #fff;
  //       /* just to separate the images */
  //       overflow: hidden;
  //     }
  //   }
  // }

  //home page
  .home {
    display: flex;
    flex-direction: column-reverse;

    //image details non show
    &-slider-details {
      display: none;
    }

    //welcome block
    &-message {
      h1 {
        font-family: $sortsmill-font;
        font-size: 3.125rem;
        line-height: 4.8rem;
        padding-bottom: .5rem;
      }

      p {
        font-weight: 400;
        font-size: .93rem;
        line-height: 1.4rem;
      }
    }
  }

  //home actualites
  .news {
    display: flex;
    flex-direction: column;
    margin: 3.2rem 0;

    &-img {
      margin: 0 auto;
    }

    &-title {
      @include flex-box(space-between, center, nowrap);

      h4 {
        font-weight: 600;
        color: $teal;
      }

      a {
        @include button($light-theme: true);

        &:active {
          @include button($light-theme: false);
        }
      }
    }

    //show other news
    &-other div.show {
      display: block;
    }

    img {
      padding: 1rem 0 1.56rem;
    }

    p:nth-child(2) {
      padding: .875rem 0 .68rem;
    }

    //section info
    &-presentation>a {
      display: none;
    }
  }

  //artworks List
  .arts {
    @include btn-dropdown(true);

    #btn-arts:hover li {
      @include flex-box(center, center, nowrap);
    }

    .title-art>h1 {
      display: none;
    }

    // h1 {
    //   font-size: 3.125rem;
    //   //width: 50%;
    //   margin: 0 auto;
    //   line-height: 2.1rem;
    // }

    //artwork grid
    .art-container {
      padding-top: 1.8rem;
      grid-template-columns: 1fr 1fr;

      //bigger photo
      div:nth-child(3) {
        grid-area: 5 / 1 / 7 / 3;
      }
    }
  }

  //artwork pop-up
  .slideshow {
    position: absolute;
    padding: 60px 0 50px;
    width: 92vw;

    //close button
    >div:first-child {
      right: 1rem;
      top: 1rem;
    }

    //artwork info container 
    &-container {
      padding: 0 1rem;
      text-align: center;

      li>div {
        h5 {
          padding-top: 30px;
        }

        h2 {
          padding: 11px 0 14px;
        }

        a {
          display: none;
        }
      }

      //buttons prev and next at the bottom
      &-button {
        bottom: 0;
        border: solid 3px $white;

        &:nth-child(1) {
          left: 33%;
          bottom: -25px;
        }

        &:nth-child(2) {
          right: 33%;
          bottom: -25px;
        }
      }
    }

    &-2-container-button {
      &:nth-child(1) {
        left: 8px;
        top: 33%;
      }

      &:nth-child(2) {
        right: 8px;
        top: 33%;
      }

    }
  }

  //actualités/news list
  .actualites {
    @include btn-dropdown(true);

    #btn-news:hover li {
      @include flex-box(center, center, nowrap);
    }

    h1 {
      font-size: 3.125rem;
    }

    //show the cards in actualites individuel
    div.show {
      display: block;
    }

    //actualites container
    &-container {

      //actualité card
      &-topic {
        &:not(:last-child) {
          margin-bottom: 4rem;
        }

        //img centered
        div img {
          margin: 0 auto;
        }

        p:nth-child(2) {
          padding: 1.3rem 0 .75rem;
        }

        h3 {
          padding-bottom: .3rem;
        }
      }
    }
  }

  // actualités article individual
  .news {

    //link to all news
    &-article {
      margin-bottom: 4.625rem;
      display: flex;
      flex-direction: column;

      a {
        text-align: center;
        @include navBtn($teal);

        i {
          padding-right: 1rem;
          color: $antracite;
        }
      }

      img {
        margin: 0 auto;
      }
    }

    //news distribution
    &-container {
      display: flex;
      flex-direction: column-reverse;
      margin-bottom: 4rem;

      //subtitle
      div p:first-child {
        font-weight: $weight-600;
        width: 50%;
      }

      h2 {
        padding: 0.5rem 0 1rem;
        font-size: 24px;
        line-height: 28.9px;
      }

      p:nth-child(3) {
        padding-bottom: 1rem;
      }

      a:last-child {
        font-weight: 700;
        font-size: $font-s;
        color: $teal;
        padding-top: 1rem;
      }

      img {
        padding: 2rem 0 2.3rem;
      }
    }

    //another news
    &-other {
      h2 {
        width: 50%;
        padding-bottom: 1.75rem;
      }
    }
  }

  //biographie
  .biographie {
    @include btn-dropdown(true);

    #bio-drop:hover li {
      @include flex-box(center, center, nowrap);
    }

    //distribution of the content and images
    &-presentation.hello,
    &-presentation.permanence {
      div {
        display: flex;
        flex-direction: column;

        img {
          margin: 0 auto;
          order: 2;
          padding: .5rem 0;
        }

        //always last
        p:last-child,
        div:last-child {
          order: 99;
        }
      }
    }

    &-presentation.awards ul {
      li {
        @include grid-column(18% auto);
      }
    }

    //container content
    &-presentation.awards,
    &-presentation.permanence,
    &-presentation.monuments,
    &-presentation.personal,
    &-presentation.collectives,
    &-presentation.evenements {
      img {
        padding-bottom: 1rem;
      }

      ul li {
        &:not(:first-child) {
          padding-top: .5rem;
        }
      }

      h3 {
        text-align: center;
        padding-bottom: .5rem;
      }

      div div ul {
        &:not(:first-child) {
          padding-bottom: 1rem;
        }
      }
    }
  }
}