@import 'global';
@import 'media';

//mobile footer in menu
.menu {
	&-footer{
		background-color: $antracite;
		color: $white;
		padding: 1rem;
		width: 100%;
		bottom: 0;
		position: fixed;
		margin-bottom: 4.56rem;
	}
	&-language{
		@include flex-box(flex-start, center, nowrap); 
		a span > i {
			font-size: 1.75rem;
			padding-right: 0.75rem;
		}
		div {
			@include flex-box(flex-start, center, nowrap);
			p {
				padding-right: 0.5rem;
				font-size: 0.75rem;
			}
		}
	}
	&-CR{
		font-size: .625rem;
		padding-top: 1rem;
		line-height: 0.75rem;
	}
}

// Footer
footer {
  background-color: $antracite;
  color:$white;
}

.container-pags{
  div div{
    font-size: $font-s;
    font-weight: $weight-500;
    padding-bottom: .6rem;
  }

  li a {
    line-height: 2.3rem;
    font-size: $font-xs;
  }
}

.copyright {
  font-size: $font-xs;
}

//Contact-me
.contact{
  &Me {
    background-color: $gray2;
    input, textarea {
    border: 1px solid $border;
    }
    &:last-child{
      
    }
  }
  &Title {
    color: $teal;
  }
}
#contactButton{
  @include button($light-theme: false);
  &:hover{
    background-color: $teal-hover;
  }
}   

//last art
.slider {
  .title {
    @extend .h2-other;
  }
  .body-text{
    @extend .font-body;
  }
  &-art {
    .date {
      @extend .font-mentions;
      padding: 1.2rem 0 .5rem;
    }
    .titleArt {
      @extend .h3;
      padding: .25rem 0 .62rem
    }
    .details {
      @extend .font-mentions;
      color: $gray1;
    }
  }
}

.news {
  h4, a {
    @include navBtn($teal);
  }
  h2 {
    @extend .h2;
  }
  p:nth-child(2) {
    @extend .font-mentions;
    color: $gray1;
  }
  p:nth-child(3) {
    @extend .font-body;
  }  
}

//latest art
.art {
  h1, h5 {
    text-align: center;
  }
  h5{
    @include navBtn($antracite);
    padding-bottom: 1rem;
  }
  h1 {
    @extend .h1;
  }
  &-container {
    display: grid;
    gap: 1px;
    @extend .cross-hover;
  }
}

// Actualités/news
.actualites {
  h1{
    @extend .h1;
    text-align: center;
  }
  &-btn {
    justify-content: center;
    a {
      text-align: center;
      @include button($light-theme: true);
      &:hover, &:active &:focus{
        @include button($light-theme: false)
      }
    }
  }
  &-container {
    &-topic{
      div img{
        margin: 0 auto;
      }
      @extend .cross-hover;
      p:nth-child(2){
        @extend .font-mentions;
      }
      h3 {
        @extend .h3;
      }
      p:nth-child(4){
        @extend .font-body;
      }
    }
  }
}

//biographie
.biographie{
  h1 {
    @extend .h1;
    text-align: center;
  }
  &-presentation div{
    h2 {
      @extend .h2;
    }
    p:last-child {
      @extend .font-body;
    }
  }
}