@import 'global';
@import 'media';

.nav {
  &-expand {
    &-content {
      .img-menu p {
        @extend .font-mentions;
        color: $gray1;
      }
    }
  }
}

//mobile menu mini footer
.menu {
  &-footer {
    padding: 1rem;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-bottom: 4.56rem;
  }

  &-language {
    a span>i {
      font-size: 1.75rem;
      padding-right: 0.75rem;
    }

    div {
      @include flex-box(flex-start, center, nowrap);

      p {
        padding-right: 0.5rem;
        font-size: 0.75rem;
      }
    }
  }

  &-CR {
    font-size: .625rem;
    padding-top: 1rem;
    line-height: 0.75rem;
  }
}

// Footer
footer {
  background-color: $antracite;
  color: $white;
}

.container-pags {
  div div {
    font-size: $font-s;
    font-weight: $weight-500;
    //padding-bottom: .6rem;
  }

  li a {
    font-size: $font-xs;
  }
}

.copyright {
  padding-top: 1rem;
  font-size: $font-xs;
}

//home
.home {
  >div.home-slider {
    @extend .listSquare;
  }
}

//Contact-me
.contact {
  &Me {
    background-color: $gray2;

    input,
    textarea {
      border: 1px solid $border;
    }
  }

  &Title {
    color: $teal;
  }
}

#contactButton {
  @include button($light-theme: false);

  &:hover {
    background-color: $teal-hover;
  }
}

//latestWorksSlide
.slider {
  position: static;

  .title {
    @extend .h2-other;
  }

  .body-text {
    @extend .font-body;
  }

  .slide-2 {
    p:nth-child(2) {
      padding: 1.2rem 0 .5rem;
    }

    h3:nth-child(4) {
      padding: .25rem 0 .62rem
    }

    p:nth-child(3) {
      color: $gray1;
    }
  }

  &-arts>div {
    @extend .cross-hover;
  }

}

.news {

  p:nth-child(2) {
    color: $gray1;
  }

  &-img {
    max-height: 20rem;
  }
}

//worksList
.arts {

  .art {
    display: none;

    &-container {
      display: grid;
      gap: 1px;
      @extend .cross-hover;

      >div {
        @extend .listSquare;
      }
    }
  }

  h1,
  h5 {
    text-align: center;
  }

  h5 {
    @include navBtn($antracite);
    padding-bottom: 1rem;
  }

  h1 {
    @extend .h1;
  }


  div.show {
    display: block;
  }

  &-btn {
    padding-top: 2rem;
    justify-content: center;

    .active,
    .btn-act:hover {
      @include button($light-theme: false)
    }

    a {
      text-align: center;
      @include button($light-theme: true);
    }
  }
}

//art individuel
.slideshow {
  display: none;
  z-index: 999;
  left: 50%;
  width: 80%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: white;

  //close button
  .close {
    z-index: 99;
    position: absolute;
    @include close(30px, 30px);
  }

  &-container {
    li>div {
      h5 {
        @include navBtn($antracite);
      }

      h2 {
        font-family: $sortsmill-font;
        font-size: 2.8rem;
      }
    }

    position: relative;

    &-button {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      font-size: $font-m;
      background-color: $antracite;
      color: $white;
      position: absolute;
      z-index: 2;

      &:hover {
        background-color: $teal;
      }

      i {
        font-size: 2rem;
        vertical-align: middle;
      }
    }
  }

  .slide-1 {
    display: none;

    >img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

// Actualités/news list
.actualites {
  h1 {
    @extend .h1;
    text-align: center;
  }

  &-btn {
    justify-content: center;

    .active,
    .btn-act:hover {
      @include button($light-theme: false)
    }

    a {
      text-align: center;
      @include button($light-theme: true);
    }
  }

  &-container {
    display: none;

    &-topic {
      div img {
        margin: 0 auto;
      }

      @extend .cross-hover;
    }
  }
}

// Actualités/news article
.news {
  &-article {
    >a {
      @include navBtn($teal);

      i {
        padding-right: 1rem;
        color: $antracite;
      }
    }
  }

  &-container {
    h2 {
      @extend .h2-other;
    }
  }

  &-other {
    h2 {
      @extend .h2;
    }

    div {
      justify-content: space-between;
    }
  }
}

//biographie
.biographie {
  div.show {
    display: block;
  }

  h1 {
    @extend .h1;
    text-align: center;
  }

  &-presentation {
    display: none;

    span.year,
    h3 {
      color: $teal;
      font-weight: 500;
      font-size: $h3;
    }

    .strong {
      font-weight: 500;
    }

    div {
      h2 {
        @extend .h2;
      }

      p:last-child {
        @extend .font-body;
      }
    }

    li {
      a {
        @include navBtn($teal);
      }
    }
  }

  &-presentation.awards ul {
    li {
      align-items: baseline;
    }
  }
}