@import 'global';
@import 'media';

.nav {
  &-expand {
    &-content {
      .img-menu {
        p {
          @extend .font-mentions;
          color: $gray1;
        }

        >div:first-child {
          @extend .listSquare;
        }
      }
    }
  }
}

//mobile menu mini footer
.menu {
  &-footer {
    padding: 1rem;
    width: 100%;
    bottom: 0;
    position: fixed;
    margin-bottom: 4.56rem;
  }

  &-language {
    a span>i {
      font-size: 1.75rem;
      padding-right: 0.75rem;
    }

    div {
      @include flex-box(flex-start, center, nowrap);

      p {
        padding-right: 0.5rem;
        font-size: 0.75rem;
      }
    }
  }

  &-CR {
    font-size: .625rem;
    padding-top: 1rem;
    line-height: 0.75rem;
  }
}

// Footer
footer {
  background-color: $antracite;
  color: $white;
}

.container-pags {
  div div {
    font-size: $font-s;
    font-weight: $weight-500;
    //padding-bottom: .6rem;
  }

  li a {
    font-size: $font-xs;
  }
}

.copyright {
  padding-top: 1rem;
  font-size: $font-xs;
}

//home
.home {
  >div.home-slider {
    @extend .listSquare;
  }
}

//Contact-me
.contact {
  //put it at the top in the individual page
  margin-top: -8rem;

  &Me {
    background-color: $gray2;

    input,
    textarea {
      border: 1px solid $border;
    }
  }

  &Title {
    color: $teal;
  }
}

#contactButton {
  @include button($light-theme: false);

  &:hover {
    background-color: $teal-hover;
  }
}

//latestWorksSlide
.slider {

  .title {
    @extend .h2-other;
  }

  .body-text {
    @extend .font-body;
  }

  .slide-2 {
    p:nth-child(2) {
      padding: 1.2rem 0 .5rem;
    }

    h3:nth-child(4) {
      padding: .25rem 0 .62rem
    }

    p:nth-child(3) {
      color: $gray1;
    }
  }

  &-arts>div {
    @extend .cross-hover;
  }

  &-title {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: .5rem 0;
  }

  //intro text in the menu non visible for this size 
  .intro {
    display: none;
  }

  //slider distribution
  &-content {
    .slide-2 {
      width: 100%;
    }

    .item {
      position: relative;
      @include flex-box(flex-start, flex-start, nowrap);
      column-gap: 2rem;
    }
  }
}

.news {

  p:nth-child(2) {
    color: $gray1;
  }

  &-img>img {
    max-height: 23rem;
  }
}

//worksList
.arts {

  .title-art,
  .art {
    display: none;
  }

  .art {
    &-container {
      display: grid;
      gap: 1px;
      @extend .cross-hover;

      >div {
        @extend .listSquare;
      }
    }
  }

  h1,
  h5 {
    text-align: center;
  }

  h5 {
    @include navBtn($antracite);
    padding-bottom: 1rem;
  }

  h1 {
    @extend .h1;
  }


  div.show {
    display: block;
  }


}

//art individuel
.slideshow {
  display: none;
  z-index: 999;
  top: 5%;

  left: 50%;
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: white;

  //close button
  .close {
    z-index: 99;
    //position: absolute;
    @include close(30px, 30px);
  }

  &-container {
    li>div {
      h5 {
        @include navBtn($antracite);
      }

      h2 {
        font-family: $sortsmill-font;
        font-size: 2.8rem;
      }
    }

    //position: relative;
    //position: initial;

    &-button {
      @include circularBtns(3rem, 3rem, $light-theme: false);
      position: absolute;

      i {
        font-size: 2rem;
        vertical-align: middle;
      }
    }
  }

  .slide-1 {
    display: none;

    >img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  //little slide
  &-2 {
    &-container {

      &-button {
        @include circularBtns(1.2rem, 1.2rem, $light-theme: true);
        position: absolute;

        i {
          font-size: 1rem;
        }
      }
    }
  }
}

// Actualités/news list
.actualites {
  h1 {
    @extend .h1;
    text-align: center;
  }

  &-container {
    display: none;

    &-topic {
      div img {
        margin: 0 auto;
      }


      @extend .cross-hover;
    }

    .card {

      >div {
        @extend .listSquare;
      }
    }
  }
}

// Actualités/news article
.news {
  &-article {
    >a {
      @include navBtn($teal);

      i {
        padding-right: 1rem;
        color: $antracite;
      }
    }
  }

  &-container {
    p.body-text {
      a {
        font-weight: 500;
        color: $teal;
      }

      a:hover {
        text-decoration: underline;
      }
    }

    h2 {
      @extend .h2-other;
    }
  }

  &-other {
    h2 {
      @extend .h2;
    }

    div {
      justify-content: space-between;
    }
  }
}

//biographie
.biographie {
  div.show {
    display: block;
  }

  h1 {
    @extend .h1;
    text-align: center;
  }

  &-presentation {
    display: none;

    span.year,
    h3 {
      color: $teal;
      font-weight: 500;
      font-size: $h3;
    }

    .strong {
      font-weight: 500;
    }

    div {
      h2 {
        @extend .h2;
      }

      p:last-child {
        @extend .font-body;
      }
    }

    li {
      a {
        @include navBtn($teal);
      }
    }
  }

  &-presentation.awards ul {
    li {
      align-items: baseline;
    }
  }

  &-presentation.criticsBtn {
    .critics {
      display: none;
    }

    .show {
      display: block;
    }

    h3,
    p {
      padding-bottom: 1rem;
    }

    .arrow {
      @include flex-box(space-between, flex-start, nowrap);

      >div {

        @include circularBtns(1.5rem, 1.5rem, $light-theme: false);
        text-align: center;
      }
    }
  }
}

div.delete1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.edit {
  input[type=checkbox]:checked#checkInput+.trash {
    background: #991B1E;
  }

  #checkInput {
    display: none;
  }
}